.git
.github
.gitignore
.env
.env.*
!.env.example

vendor
node_modules
public/build
public/hot

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/**/.gitignore

tests
phpunit.xml
.phpunit.cache
database/database.sqlite

design
docker-compose.yml
Dockerfile
.dockerignore

*.md
.idea
.vscode
